*{
    padding: 0px;
    margin: 0px;
}
section{
    text-align: center;
}
h1{
    font-size: 35px;
    color: #6b5b95;
    margin: 15px;
}
#task input{
    margin:0px 15px;
    padding: 15px 100px;
    border:1px solid grey;
    border-radius: 8px;
}
#task input:hover{
    border: 2px solid #feb236;
}
#add{
    border: none;
    padding: 10px 25px;
    font-size: 14px;
    background-color: #feb236;
    color: black;
    border-radius:8px ;
    transition:  .3s ease-in-out;
}
#add:hover{
    color: white;
    background-color: #ff7b25;
}